body {
	padding: 0;
	margin: 0;
	background-image: url(gambar/background-dashboard.png);
}

.nav-header img {
	width: 100px;
    height: 100px;
	margin-left: 15px;
	float: left;
}
	
.nav-header label {
	font-family: fantasy;
	font-size: 20px;
}
	
.lab1 {
	margin-right: 1010px;
	margin-top: 20px;
	float: right;
}
	
.lab2 {
	margin-right: 975px;
	float: right;
}
	
.lab3 {
	margin-right: 1079px;
	float: right;
}
	
.lab4 {
	color: black;
	font-family: fantasy;
	font-size: 18px;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	border: 3px solid black;
	text-decoration: none;
	padding: 5px;
}

nav {
    margin-top: 25px;
    text-align: left;
	width: 100%;
}

nav ul {
    font-family: Open Sans;
	font-size: 16px;
    padding: 0;
    list-style: none;
    text-align: center;
    display: inline-table;
    width: 100%;
}

nav ul li {
    float: left;
	width: 273px;
	text-align: center;
    line-height: 21px;
    background-color: #183D77;
}
    
nav ul li a {
    display: block;
    padding: 5px 10px;
	color: #FFF;
    background-color: #183D77;
	text-decoration: none;
}
	
nav ul li:hover ul {
    display: block; 
}

nav ul li ul {
	display: none;
}
	
nav ul li a:hover {
    color: #fff;
    background-color: #13284A;
}
	
nav ul li ul li {		
	text-align: left;
}